<template>
  <div class="container-fluid deliveryPage">
    <div class="row mb-3">
      <div class="col-12">
        <button v-on:click="addLine" type="button" class="btn btn-success float-right">New Row</button>
      </div>
    </div>
    <div class="row deliveryTable">
      <div class="col-12">
        <table class="table">
          <thead class="tableHead">
          <tr>
            <th scope="col" class="time">Time</th>
            <th scope="col" class="supplier">Supplier</th>
            <th scope="col" class="product">Product</th>
            <th scope="col" class="temp">Product Temp</th>
            <th scope="col" class="defect">Defects</th>
            <th scope="col" class="response">What I did</th>
            <th scope="col" class="photo"></th>
            <th scope="col" class="delete"></th>
          </tr>
          </thead>
          <tbody class="tableBody" v-if="lines !== undefined && lines.length !== 0">
          <tr v-for="(singleLine, index) in linesFiltered" v-bind:key="singleLine.id">
            <td>
              <VueCtkDateTimePicker v-model="singleLine.time" format="YYYY-MM-DD hh:mm" formatted="DD.MM.YYYY hh:mm" inputSize="md"
                                    label="" buttonColor="green"
                                    color="green"></VueCtkDateTimePicker>
            </td>
            <td>
              <div class="input-group">
                <label>
                  <input v-model="singleLine.supplier" type="text" class="form-control"/>
                </label>
              </div>
            </td>
            <td>
              <div class="input-group">
                <label>
                  <input v-model="singleLine.product" type="text" class="form-control"/>
                </label>
              </div>
            </td>
            <td>
              <div class="input-group ">
                <label class="d-inline-flex align-items-center">
                  <input v-model="singleLine.temp" type="text" class="form-control"/>
                  <span>{{ '°C' }}</span>
                </label>
              </div>
            </td>
            <td>
              <multiselect v-model="singleLine.prevent" :options="preventions" track-by="name" label="name"
                           :multiple="true"
                           :searchable="false" :close-on-select="false" :show-labels="false"
                           placeholder="Select"></multiselect>
            </td>
            <td>
              <multiselect v-model="singleLine.defect" :options="defects" track-by="name" label="name"
                           :multiple="true"
                           :searchable="false" :close-on-select="false" :show-labels="false"
                           placeholder="Select"></multiselect>
            </td>
            <td>
              <div
                class="picture-popup green d-block cursor-pointer text-center align-middle position-relative"
                @click.so="setDropdownStatus($event, singleLine)"
                v-bind:class="{ open: singleLine.isOpen }">
                <div
                  class="picture-hidden d-flex position-absolute"
                  v-bind:class="{ show: singleLine.isOpen }">
                  <div class="inner d-flex flex-column text-left" @click="$event.stopPropagation()">
                    <div v-for="(picture, indexPicture) in singleLine.pictures" v-bind:key="indexPicture">
                      <div class="picture-download-name">
                        <span class="text-underline font-15 black cursor-pointer"
                              @click="showPicture(picture, singleLine)">{{ picture.certificate_file_name }}
                        </span>
                        <span class="font-15 red cursor-pointer ml-1"
                              @click="deletePicture(indexPicture, singleLine)">
                          <i class="fas fa-times"></i>
                        </span>
                      </div>
                    </div>
                    <div class="upload-btn-wrapper mt-auto">
                      <label class="d-flex text-right font-weight-bold green bg-transparent p-0 font-16 m-0">
                        <input
                          id="fileUpload"
                          name="image"
                          type="file"
                          ref="file"
                          accept=".jpeg, .png, .jpg, .gif"
                          @change="checkImage($event, singleLine.pictures, index)"/>
                        <i class="fas fa-plus"></i>
                        <span class="pl-1">{{'Add picture'}}</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div></div>
                <div class="d-flex flex-row font-20 align-middle">
                  <i class="fas fa-camera position-relative  "></i>
                  <div
                    class="counter green font-weight-bold ml-1"
                    v-if="!singleLine.isOpen && singleLine.pictures !== null && singleLine.pictures.length !== 0">
                    {{ singleLine.pictures.length }}
                  </div>
                </div>
              </div>
            </td>
            <td class="tableDeleteRow">
              <a @click="deleteLine(index, singleLine)">
                <i class="fas fa-times"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
        <div v-if="lines === undefined || lines.length === 0">
          <div class="text-left">
            No Data to show.
          </div>
          <div class="text-left">
            Click <span class="font-bold">New row</span> to add deliveries.
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import VueCtkDateTimePicker from 'vue-ctk-date-time-picker';
  import Multiselect from "vue-multiselect";
  import Moment from 'moment';
  import {extendMoment} from 'moment-range';

  const moment = extendMoment(Moment);

  export default {
    name: "DeliveryList",
    components: {
      VueCtkDateTimePicker,
      Multiselect
    },
    props: ['calendarData'],
    data() {
      return {
        id: '',
        time: '',
        supplier: '',
        product: '',
        temp: '',
        defect: [],
        prevent: [],
        pictures: [],
        isOpen: '',

        certificate_file_name: '',
        certificate_file: '',

        lines: [],
        linesFiltered: [],

        preventions: [
          {id: 1, name: 'Employees were trained'},
          {id: 2, name: 'Guidance was modified'},
          {id: 3, name: 'Returned goods'},
          {id: 4, name: 'Food was reprocessed'},
          {id: 5, name: 'Food was rejected'},
          {id: 6, name: 'Supplier was notified'}
        ],
        defects: [
          {id: 1, name: 'Expiration date exceeded'},
          {id: 2, name: 'Product is not quality'},
          {id: 3, name: 'Package was broken'},
          {id: 4, name: 'Temperature was not correct'}
        ],
      }
    },

    created() {
      window.addEventListener('beforeunload', this.refreshPageHandler);
    },

    mounted() {
      if (localStorage.getItem('linesStorage')) {
        try {
          this.lines = JSON.parse(localStorage.getItem('linesStorage'));
        } catch (e) {
          localStorage.removeItem('linesStorage');
        }
      }
    },

    watch: {
      calendarData: {
        immediate: true,
        deep: true,
        handler(newValue, oldValue) {
          this.linesFiltered = [];
          const dates = [moment(newValue.start, 'YYYY-MM-DD'), moment(newValue.end, 'YYYY-MM-DD')];
          const range = moment.range(dates);
          this.linesFiltered = this.lines.filter(pickedLine => {
              return range.contains(moment(pickedLine.time, 'YYYY-MM-DD'));
            }
          );
        }
      }
    },

    methods: {
      addLine() {
        let newDelivery = {
          id: this.revisedRandId(),
          time: new Date().toISOString(),
          supplier: this.date,
          product: this.product,
          temp: this.temp,
          defect: this.defect,
          prevent: this.prevent,
          pictures: this.pictures,
          isOpen: false
        };
        this.lines.push(newDelivery);
        this.linesFiltered.push(newDelivery);

        this.id = '';
        this.time = '';
        this.supplier = '';
        this.product = '';
        this.temp = '';
        this.defect = [];
        this.prevent = [];
        this.pictures = [];
        this.isOpen = '';
      },

      revisedRandId() {
        return Math.random().toString(36).replace(/[^a-z]+/g, '').substr(2, 10);
      },

      // getLine() {
      //   console.log(this.lines)
      // },

      // saveLine() {
      //   localStorage.setItem('linesStorage', JSON.stringify(this.lines));
      // },

      deleteLine(lineIndex, lineData) {
        this.lines = this.lines.filter(line => line.id !== lineData.id);
        this.linesFiltered.splice(lineIndex, 1);
      },

      refreshPageHandler(event) {
        if (this.lines !== undefined && this.lines !== 0) {
          if (JSON.parse(localStorage.getItem('linesStorage'))) {
            let oldLines = JSON.parse(localStorage.getItem('linesStorage'));
            if (oldLines !== this.lines) {
              localStorage.setItem('linesStorage', JSON.stringify(this.lines));
            }
          } else {
            localStorage.setItem('linesStorage', JSON.stringify(this.lines));
          }
        }
      },

      showPicture(picData, singleLine) {
        const binary = this.fixBinary(atob(picData.certificate_file));
        const fileURL = URL.createObjectURL(new Blob([binary]));
        const a = document.createElement('a');
        let attachmentPicture = null;
        a.href = fileURL;
        singleLine.pictures.forEach(attachment => {
          if (attachment.certificate_file === picData.certificate_file) {
            attachmentPicture = attachment;
          }
        });
        a.download = attachmentPicture.certificate_file_name;
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
      },

      fixBinary(bin) {
        let length = bin.length;
        let buf = new ArrayBuffer(length);
        let arr = new Uint8Array(buf);
        for (let i = 0; i < length; i++) {
          arr[i] = bin.charCodeAt(i);
        }
        return buf;
      },

      checkImage(event, singleLine, index) {
        console.log(index);
        if (event.target.files && event.target.files.length > 0) {
          const file = event.target.files[0];

          if (
            file.type !== 'image/jpeg' &&
            file.type !== 'image/png' &&
            file.type !== 'image/jpg' &&
            file.type !== 'image/gif'
          ) {
            return;
          }

          if (file.size > 5240000) {
            return;
          }
          const fileReader = new FileReader();

          fileReader.addEventListener('load', () => {
            this.addPicture(file.name, this.getBase64FromDataURL(fileReader.result), singleLine, index);
          });
          fileReader.readAsDataURL(file);
          event.target.value = null;
        }
      },

      addPicture(picName, picData, singleLine, index) {
        if (picName !== null && picData !== null) {
          let picObject = {
            certificate_file: picData,
            certificate_file_name: picName
          };
          singleLine.push(picObject)
        } else {
          return;
        }
      },

      getBase64FromDataURL(dataURL) {
        const indexOfBase64Code = dataURL.indexOf('base64') + 7;
        return dataURL.slice(indexOfBase64Code);
      },

      deletePicture(indexPicture, singleLine) {
        singleLine.pictures.splice(indexPicture, 1);
      },

      setDropdownStatus(event, pickedLine) {
        if (event) {
          event.preventDefault();
          event.stopPropagation();
        }

        this.lines.map(line => {
          if (line.time !== pickedLine.time) {
            line.isOpen = false;
          }
        });
        pickedLine.isOpen = !pickedLine.isOpen;
      }
    },
  }
</script>

<style scoped lang="scss">
  @import "../../assets/styles/global.scss";

  .deliveryPage {
    .deliveryTable {
      .tableHead {
        tr {
          min-height: 50px;
          background-color: #f6f5f5;
          padding: 15px 30px;
          font-weight: 600;
          color: #a1a49e;
          text-align: left;
          @extend .font-14;

          th {
            vertical-align: middle;
            border-bottom: 0;
            border-top: 0;
          }

          .time {
            @include sheet-row-basis(15%);
          }

          .supplier {
            @include sheet-row-basis(15%);
          }

          .product {
            @include sheet-row-basis(15%);
          }

          .temp {
            @include sheet-row-basis(7%);
          }

          .defect {
            @include sheet-row-basis(20%);
          }

          .response {
            @include sheet-row-basis(20%);
          }

          .photo {
            @include sheet-row-basis(6%);
          }

          .delete {
            @include sheet-row-basis(2%);
          }
        }
      }

      .tableBody {
        tr {
          td {
            vertical-align: middle;
          }
        }

        tr:focus {
          outline: none;
        }

        .tableDeleteRow {
          i {
            color: red;
            cursor: pointer;
            font-size: 18px;
          }
        }
      }
    }
  }

  .picture-popup {
    padding-left: 13px;
    @include transform(translateY(0%));
    @include transition(all 0.5s ease);

    .counter {
      padding-left: 2px;
      pointer-events: none;
    }

    &.open {
      z-index: 10;
    }

    .picture-hidden {
      width: 32px;
      height: 32px;
      visibility: hidden;
      overflow: hidden;
      top: -10px;
      right: 15px;
      background: #fff;
      border-radius: 3px;
      border: 1px solid $input-border-color;
      box-shadow: 2px 2px 10px 0 $input-border-color;

      &.show {
        height: auto;
        min-height: 150px;
      }

      &.show {
        width: 250px;
        visibility: visible;

        & + .fa-camera {
          color: #a1a493 !important;
        }

        .inner {
          opacity: 1;
          cursor: default;
        }
      }

      .inner {
        padding: 15px 45px 15px 25px;
        opacity: 0;
        @include transition(opacity 0.3s ease);
        @extend .font-15;

        .upload-btn-wrapper {
          label {
            cursor: pointer;

            button {
              padding: 0;
              background: transparent;
              color: $green;
              border: none;
              font-size: 17px;
              font-weight: bold;

              span {
                padding-left: 6px;
              }
            }

            input[type='file'] {
              display: none;
            }
          }
        }

        .picture-download-name {
          padding-bottom: 10px;
        }
      }
    }
  }
</style>
