<template>
  <div class="calendar-body d-flex">
    <div class="calendar-body-filter">
      <div class="row mb-3">
        <div class="col-3">
          <a @click="changeDate('newToday')">
            {{'Today'}}
          </a>
        </div>
        <div class="col-3">
          <a @click="changeDate('newYesterday')">
            {{'Yesterday'}}
          </a>
        </div>
        <div class="col-3">
          <a @click="changeDate('newTMonth')">
            {{'This month'}}
          </a>
        </div>
        <div class="col-3">
          <a @click="changeDate('newLMonth')">
            {{'Last month'}}
          </a>
        </div>
      </div>
      <div class="row border-between">
        <div class="col-6 text-right">
          <v-date-picker
            mode='range'
            show-caps
            :formats='formats'
            :theme-styles='themeStyles'
            v-model='myRange'>
            <div>
              <input class="form-control input-lg"
                     v-model="moment(myRange.start).format('DD.MM.YYYY').toString()">
            </div>
          </v-date-picker>
        </div>
        <div class="col-6 text-left">
          <v-date-picker
            :formats='formats'
            mode='range'
            show-caps
            :theme-styles='themeStyles'
            v-model='myRange'>
            <div>
              <input class="form-control input-lg"
                     v-model="moment(myRange.end).format('DD.MM.YYYY').toString()">
            </div>
          </v-date-picker>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue';
  import VCalendar from 'v-calendar'

  Vue.use(VCalendar, {});

  export default {
    name: "DeliveryCalendar",
    data() {
      return {
        myRange: {
          start: new Date(new Date().getFullYear(), new Date().getMonth(), 1),
          end: new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0)
        },
        themeStyles: {
          dayPopoverContent: {
            display: 'none'
          }
        }
      }
    },

    created() {
      this.emitCalendarToParent();
    },

    watch: {
      myRange(newRange, oldRange) {
        this.emitCalendarToParent(newRange);
      }
    },

    methods: {
      changeDate(newDate) {
        let dateChanger = new Date();
        switch (newDate) {
          case 'newToday':
            this.myRange.start = new Date(dateChanger.getFullYear(), dateChanger.getMonth(), dateChanger.getDate());
            this.myRange.end = new Date(dateChanger.getFullYear(), dateChanger.getMonth(), dateChanger.getDate());
            this.emitCalendarToParent(this.myRange);
            break;
          case 'newYesterday':
            this.myRange.start = new Date(dateChanger.getFullYear(), dateChanger.getMonth(), dateChanger.getDate() - 1);
            this.myRange.end = new Date(dateChanger.getFullYear(), dateChanger.getMonth(), dateChanger.getDate() - 1);
            this.emitCalendarToParent(this.myRange);
            break;
          case 'newLMonth':
            this.myRange.start = new Date(dateChanger.getFullYear(), dateChanger.getMonth() - 1, 1);
            this.myRange.end = new Date(dateChanger.getFullYear(), dateChanger.getMonth(), 0);
            this.emitCalendarToParent(this.myRange);
            break;
          case 'newTMonth':
            this.myRange.start = new Date(dateChanger.getFullYear(), dateChanger.getMonth(), 1, 1);
            this.myRange.end = new Date(dateChanger.getFullYear(), dateChanger.getMonth() + 1, 0);
            this.emitCalendarToParent();
            break;
          default:
            break;
        }
      },

      emitCalendarToParent(event) {
        this.$emit('calendarDataToParent', this.myRange)
      }
    }
  }
</script>


<style scoped lang="scss">
  @import "../../assets/styles/global.scss";

  .calendar-body {
    background-color: #f5f4f4;
    max-width: 800px;
    padding-top: 15px;
    padding-bottom: 15px;

    .calendar-body-filter {
      border-radius: 3px;
      padding: 5px 50px 20px 50px;

      a {
        color: #378752;
        cursor: pointer;
      }

      a:hover {
        text-decoration: underline;
      }

      input {
        height: 40px;
      }
    }
  }
</style>
