<template>
  <div id="app">
    <div class="container monitoring__sheet">
      <div class="row d-flex align-items-center justify-content-center">
        <p class="h5 font-weight-bold text-uppercase text-center">
          Delivery control VUE.JS
        </p>
      </div>
      <div class="row d-flex align-items-center justify-content-center">
        <delivery-calendar @calendarDataToParent="calendarData"></delivery-calendar>
      </div>
      <div class="row d-flex align-items-center justify-content-center">
        <delivery-list :calendarData="myRange"></delivery-list>
      </div>
    </div>
  </div>
</template>

<script>
  import DeliveryList from "@/components/Delivery/DeliveryList";
  import DeliveryCalendar from "@/components/Delivery/DeliveryCalendar";

  export default {
    name: 'App',
    data() {
      return {
        myRange: {
          start: null,
          end: null
        }
      }
    },
    components: {
      DeliveryList,
      DeliveryCalendar
    },
    props: {},
    methods: {
      calendarData(myRange) {
        this.myRange = myRange;
      }
    }
  }
</script>

<style src="v-calendar/lib/v-calendar.min.css"></style>
<style src="vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css"></style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss">
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  .monitoring__sheet {
    max-width: 1400px;
    width: 90%;
    margin: 20px auto;
  }
</style>
